

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f5f3ff;
    margin:0;
}


header {
    background:#6c5ce7;
    color:white;
    text-align:center;
    padding:30px;
}



/* Search  */
.search-area {
    text-align:center;
    margin:30px;
}


input {
    width:300px;
    padding:12px;
    border-radius:10px;
    border:1px solid gray;
}


button {
    padding:12px 20px;
    border:none;
    border-radius:10px;
    background:#8376e1;
    color:white;
    cursor:pointer;
}


button:hover {
    background:#5f05ee;
}


