

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f5f3ff;
    margin:0;
}


header {
    background:#6c5ce7;
    color:white;
    text-align:center;
    padding:30px;
}

